table{
    border-collapse: collapse;
}

table tr th, tr td {
    /*font-family: Tahoma;*/
    /*font-size: 9pt;*/
    padding: 2px;
}

.header_cetak tr td{
    font-family: "Arial";
    /*padding: 1px;*/
    padding: 0px;
}
.header_cetak tr td img{
    width: 70px;
    height: 70px;
    padding-bottom: 1px;
}
.header_cetak tr td h1{
    font-size: 16pt;
    margin-bottom: -3px;
    text-transform: uppercase;
}
.header_cetak tr td h3{
    font-size: 12pt;
    text-transform: uppercase;
}
.header_cetak tr td h4{
    display: inline-flex;
    font-size: 10pt;
    font-weight: normal;
    margin-top: -3px;
}
.header_cetak tr td h5{
    display: inline-flex;
    font-size: 8pt;
    font-weight: normal;
    margin-top: -3px;
}
.header_cetak tr td .hr1{
    border: 1.6px solid #000 !important;
    margin-top: -1px !important;
}
.header_cetak tr td .hr2{
    border: 0.6px solid #000 !important;
    margin-top: -4px;
}

.hr1{
    border: 1px solid #000 !important;
    margin-top: 0px !important;
}
.hr2{
    border: 0.6px solid #000 !important;
    margin-top: -5px !important;
}