body {
   font-family: Tahoma;
   font-size: 11px;
}

table {
   border-collapse: collapse;
}

hr {
   clear: both;
}

.link {
	clear:both;
	visibility: visible;
}

@page size-A4 {size:  21.0cm 29.7cm; margin: 1cm;}
@page rotate-landscape {size: landscape; }

div.page-portrait {
   visibility: visible;
   font-family: Tahoma;
   font-size: 11px;
   margin: 0px auto;
   width: auto;
}

div.page-landscape {
   visibility: visible;
   font-family: Tahoma;
   font-size: 11px;
   margin: 0px auto;
   width: auto;
}

div.page-break {
   visibility: visible;
   page-break-after: always;
}

div.nobreak {
   visibility: visible;
}

div.nobreak .hidden {
   visibility: hidden;
   display: none;
}

div.page-break .hidden {
   visibility: hidden;
   display: none;
}

.page-break {
   clear: both;
}

.link {
	clear:both;
	visibility: hidden;
	display: none;
}

#header h1, h2, h3, h4{
   /*text-align: center;*/
   padding: 2px 0px;
   margin: 0px;
}

#header h1 {
   font-size: 15pt;
}

#header h2 {
   font-size: 13pt;
}

#header h3 {
   font-size: 11pt;
}

#header h4 {
   font-size: 9pt;
}

#table-kop table {
   border-collapse: collapse;
}

#table-kop tr td {
   font-family: Tahoma;
   font-size: 11px;
   padding: 0px;
}

#table-kop img {
   margin: 2px;
}

#table-kop h1, #table-kop h3 {
   padding: 2px 0px;
   text-align: left;
   margin: 0px;
}

#table-kop h1 {
   font-size: 15pt;
}

#table-kop h3 {
   font-size: 11pt;
}

.tabel-common tr th {
   border: 1px solid #000;
}
.tabel-common tr td {
   border: 1px solid #000;
}

#table-data table {
   border-collapse: collapse;
}

#table-data tr th {
   font-family: Tahoma;
   font-size: 11px;
   font-weight: bold;
   background-color: #eee;
   padding: 2px;
   border: 1px solid #000;
}

#table-data tr td {
   font-family: Tahoma;
   font-size: 11px;
   padding: 2px;
   border: 1px solid #000;
   vertical-align: top;
}

#table-tandatangan table {
   border-collapse: collapse;
}

#table-tandatangan tr td {
   font-family: Tahoma;
   font-size: 11px;
   padding: 2px;
}